
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Breadcrumb{
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Questions</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="/admin" class="text-muted">Home</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">Questions</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="header-card">
                    <div class="button">
                        <a href="@Url.Action("InsertOrUpdate","Question")" class="btn waves-effect waves-light btn-Custom btn-primary"> Add New</a>
                    </div>
                </div>

                <div class="mt-4" style="display: flex; justify-content: space-between;">
                    <div style="display: flex; align-items: center;">
                        <span>Show</span>
                        <select name="candidate" class="form-control form-control-sm pageSizeItem" style="margin: 0 0.3rem">
                            @foreach (var item in ViewBag.ListpageSize)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span>entries </span>
                    </div>

                    <div style="display: flex; align-items: center;">
                        Search: <input type="search" class="form-control form-control-sm txtSearchQuestion" placeholder="" style="margin:0 0 0 0.3rem">
                    </div>
                </div>

                <div class="table table-hover mt-4" id="tableQuestion">
                    <div>
                        <div>
                            <div scope="col"></div>

                        </div>
                    </div>
                    <div id="tblDataQuestion" class="tblDataQuestion">
                        <div id="accordion" class="custom-accordion mb-4">
                            <div class="custom-tbl-title d-block">
                                <span class="d-flex title-quest">
                                    <span class="qShowAnswer"> Show Answer</span>
                                    <span class="qId"> ID</span>
                                    <span class="qContent">Content</span>
                                    <span class="qCategory">Part</span>
                                    <span class="qMark">Mark </span>
                                    <span class="qStatus">Status</span>
                                    <span class="qAction">Action</span>
                                </span>
                            </div>
                            <div id="questTableContent">
                                @*table content*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center textEmpty">List empty</p>
            <ul id="pagination" class="pagination flex-wrap .pagination-rounded-flat pagination-success mt-3"></ul>
        </div>
    </div>
</div>

@Html.Partial("_ModalDelete")

@section Scripts{
    <script src="/Scripts/jquery.twbsPagination.min.js"></script>
    <script src="/Scripts/plugins/QuestionJsController.js"></script>
}
