<div id="modal-detailAccount" class="modal fade" aria-labelledby="myLargeModalLabel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-top modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="topModalLabel">Detail Account</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <p><b>Username:</b></p>
                        <p><b>Display Name:</b></p>
                        <p><b>Email:</b></p>
                        <p><b>Sex:</b></p>
                        <p><b>CreatedDate:</b></p>
                        <p><b>LastUpdatedDate:</b></p>
                    </div>
                    <div class="col-md-4">
                        <p id="textUserName"></p>
                        <p id="textDisplayName"></p>
                        <p id="textEmail"></p>
                        <p id="textSex"></p>
                        <p id="textCreatedDate"></p>
                        <p id="textLastUpdatedDate"></p>
                    </div>
                    <div class="col-md-5">
                        <p>Image</p>
                        <p>
                            <img src="/Content/default-avatar.jpg" id="textImage" alt="" style="width:300px;object-fit:cover;">
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-Custom btn-danger" data-dismiss="modal"> Close </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

