@{ Layout = null; }



<nav class="side-nav">
    
    <div class="logo intro-x flex items-center">
        <img alt="Midone Tailwind HTML Admin Template" 
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLWo0u-TB5eyu88DkM8Gvc6vWOOQlXxjSmAw&usqp=CAU">
    </div>
    <div class="candidate">
        <p class="candidate-name"  >Trần Thị Văn Hiếu Vững</p>
        <p class="candidate-code" >CODE: 123456</p>
    </div>
    <div class="side-nav__devider my-6"></div>
    <ul class="menu-bar">
        @*General Knowledge*@
        <li class="memu-with-child sidemenu_1">
            <a href="javascript:;" class="side-menu" >
                <div class="side-menu__icon"> <i data-feather="users"></i> </div>
                <div class="side-menu__title">General Knowledge </div>
            </a>
            <ul id="sidemenu_content_1">

            </ul>
        </li>
        @*Mathematics*@
        <li class="memu-with-child Mathematics sidemenu_2">
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> <i data-feather="users"></i> </div>
                <div class="side-menu__title">Mathematics </div>
            </a>
            <ul id="sidemenu_content_2">

              
            </ul>
        </li>

        @*Computer Technology*@
        <li class="memu-with-child sidemenu_3">
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> <i data-feather="users"></i> </div>
                <div class="side-menu__title">Computer Technology </div>
            </a>
            <ul id="sidemenu_content_3">

              
            </ul>
        </li>

    </ul>
</nav>

@*@foreach (var menu in ViewBag.menu)
{
    <h2> @menu.Attribute("title").Value;</h2>
  

    foreach (var add in menu.Descendants("add"))
    {
        <h2>@add.Attribute("action").Value;</h2>
    }
}*@