@{ Layout = null; }
<div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
        <a href="/admin" class="flex mr-auto">
            <img alt="Midone Tailwind HTML Admin Template" class="w-6" src="/Content/assets/backend/dist/images/logo.svg">
        </a>
        <a href="javascript:;" id="mobile-menu-toggler"> <i data-feather="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
    </div>
    <ul class="border-t border-theme-24 py-5 hidden">

        <li id="GeneralKnowledge_mobile">
            <a href="javascript:;" class="menu">
                <div class="menu__icon"> <i data-feather="users"></i> </div>
                <div class="menu__title"> General Knowledge <i data-feather="chevron-down" class="menu__sub-icon"></i> </div>
            </a>
            <ul class="sidemenu_mobile_content" id="sidemenu_mobile_content_1">

            </ul>
        </li>
        <li id="Mathematics_mobile">
            <a href="javascript:;" class="menu">
                <div class="menu__icon"> <i data-feather="users"></i> </div>
                <div class="menu__title"> Mathematics <i data-feather="chevron-down" class="menu__sub-icon"></i> </div>
            </a>
            <ul class="sidemenu_mobile_content" id="sidemenu_mobile_content_2">

            </ul>
        </li>
        <li id="Computer_Technology_mobile">
            <a href="javascript:;" class="menu">
                <div class="menu__icon"> <i data-feather="users"></i> </div>
                <div class="menu__title"> Computer Technology  <i data-feather="chevron-down" class="menu__sub-icon"></i> </div>
            </a>
            <ul class="sidemenu_mobile_content" id="sidemenu_mobile_content_3">

            </ul>
        </li>

    </ul>
</div>