@{ Layout = null; }



<nav class="side-nav">

    <div class="logo intro-x flex items-center">
        <img alt="Midone Tailwind HTML Admin Template"
             src="@Session["ImageCandidate"]">
    </div>
    <div class="candidate">
        <p class="candidate-name">@Session["DisplayNameCandidate"]</p>
        <p class="candidate-code">CODE: <span id="candidate-codeId">@Session["CandidateTest"]</span></p>
    </div>
    <div class="side-nav__devider my-6"></div>


    <ul class="menu-bar">
        @*General Knowledge*@
        <li class="memu-with-child sidemenu_1">
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> <i data-feather="book-open"></i> </div>
                <div class="side-menu__title">General Knowledge </div>
            </a>
            <ul id="sidemenu_content_1">
            </ul>
        </li>
        @*Mathematics*@
        <li class="memu-with-child Mathematics sidemenu_2">
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> <i data-feather="command"></i> </div>
                <div class="side-menu__title">Mathematics </div>
            </a>
            <ul id="sidemenu_content_2">
            </ul>
        </li>

        @*Computer Technology*@
        <li class="memu-with-child sidemenu_3">
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> <i data-feather="terminal"></i> </div>
                <div class="side-menu__title">Computer Technology </div>
            </a>
            <ul id="sidemenu_content_3">
            </ul>
        </li>

    </ul>
    <div class="side-nav__devider my-6"></div>
    <div class="">
        <button class="button button-logout w-32 mb-2 flex items-center justify-center bg-theme-6 text-white m-auto"> <i data-feather="log-out" class="w-4 h-4 mr-2"></i> Logout </button>
    </div>
</nav>
