<?xml version="1.0" encoding="utf-8" ?>
<menus>
  <section title="MANGAGER">
    
    <menu title="Admin" icon="bar-chart">
      <add title="List" action="Index" controller="Account"/>
      <add title="Add New" action="InsertOrUpdate" controller="Account" />
    </menu>

    <menu title="Candidate" icon="bar-chart">
      <add title="List" action="Index" controller="Candidate"/>
      <add title="Add New" action="InsertOrUpdate" controller="Candidate" />
    </menu>


  </section>



  <section title="TEST">

    <menu title="Category Exam" action="Index" controller="CategoryExam" icon="bar-chart" />

    <menu title="Question" icon="bar-chart">
      <add title="List" action="Index" controller="Question"/>
      <add title="Add New" action="InsertOrUpdate" controller="Question" />
    </menu>

    <menu title="Test Schedule" icon="bar-chart">
      <add title="List" action="Index" controller="TestSchedule"/>
      <add title="Add New" action="InsertOrUpdate" controller="TestSchedule" />
    </menu>
    
    <menu title="HisTory Test" action="Index" controller="HistoryTests" icon="bar-chart" />
  </section>
</menus>