<?xml version="1.0" encoding="utf-8" ?>
<menus>
  <section title="MANGAGER">
    
    <menu title="Admin" icon="bar-chart">
      <add title="List" action="Index" controller="Account"/>
      <add title="Add New" action="InsertOrUpdate" controller="Account" id="0" />
    </menu>

    <menu title="Candidate" icon="bar-chart">
      <add title="List" action="Index" controller="Candidate"/>
      <add title="Add New" action="InsertOrUpdate" controller="Candidate" id="0" />
    </menu>


  </section>
  
  
  <section title="TEST">
    
    <menu title="abc" action="index" controller="def" icon="sidebar" />

    <menu title="Account Admin" icon="bar-chart">
      <add title="List" action="Index" controller="Account"/>
      <add title="Add New" action="InsertOrUpdate" controller="Account" id="0" />
    </menu>

  </section>
</menus>