/*
check box
*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
/*
        end check box
    */

.FlexIconAction {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error, .text-danger {
    font-size: 70%;
    color: rgb(255, 79, 112);
}

.btn.btn-Custom {
    min-width: 145px;
    max-width: 145px;
}
}

.card-body {
    padding: 0;
}

.anwser-content {
    /* This section calls the slideInFromLeft animation we defined above */
    /*animation: 1s ease-out 0s 1 slideInFromLeft;*/
    background-color: rgba(1,202,241,.5);
    padding: 7px 30px;
}

.question-content {
    background-color: rgba(255,79,112,.5);
    padding: 30px;
}

.card-title .control-label {
    color: rgba(255,79,112);
}

.anwser .list-divider {
    color: rgba(255,79,112);
    margin-top: 0;
}

.question-content .custom-control-label {
    color: rgba(255,79,112);
}

.question-content .control-label {
    color: #8971ea;
    font-weight: bold;
    font-size: 24px;
}


.question-content #Mark-error {
    color: #8971ea;
    font-size: 18px;
}
.answer-tool {
    align-items: center;
}

    .answer-tool label,
    .answer-tool .card-title {
        margin-bottom: 0;
    }

    .answer-tool .card-title {
        margin-right: 30px;
        font-size: 24px;
    }

#add_more {
    margin-top: 10px;
}

.anwser .custom-control-label::after {
    background-color: rgba(255,79,112);
}

.anwser .custom-control-label span {
    margin-left: 32px;
}

.anwser .custom-control {
    padding-left: 0;
}

.anwser .custom-control-label::after,
.anwser .custom-control-label::before {
    width: 1.5rem;
    height: 1.5rem;
    left: 0;
    top: 0;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
        visibility: hidden;
        overflow: hidden;
    }
}

@keyframes heightToZero {
    0% {
        height: 257px;
        visibility: hidden;
        overflow: hidden;
    }

    100% {
        height: 0;
        visibility: hidden;
        overflow: hidden;
    }
}
