.FlexIconAction {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.dataTables_length label {
    display: flex;
}

.dataTables_filter label {
    display: flex;
}

.dataTables_filter label {
    width: 200px;
    margin-left: 320px
}
