<div class="modal" id="modal-previewConfirm-logout">
    <div class="modal__content">
        <div class="p-5 text-center">
            <i data-feather="log-out" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
            <div class="text-gray-600 mt-2 text-modal">
                <p class="text-3xl font-medium text-theme-6">
                    Do you want Log Out?
                <p>
                    <hr />
            </div>
        </div>
        <div class="px-5 pb-8 text-center">
            <button class="button w-24 border text-gray-700 mr-1 btn-CancelModal">Cancel</button>
            <a href="/logout" class="button w-24 bg-theme-6 text-white btn-okConfirm">Logout</a>
        </div>
    </div>
</div>

