<div class="modal" id="modal-previewConfirm">
    <div class="modal__content">
        <div class="p-5 text-center">
            <i data-feather="package" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
            @*<div class="text-3xl mt-5">Are you sure?</div>*@
            <div class="text-gray-600 mt-2 text-modal"></div>
        </div>
        <div class="px-5 pb-8 text-center">
            <button class="button w-24 border text-gray-700 mr-1 btn-CancelModal">Cancel</button>
            <button class="button w-24 bg-theme-6 text-white btn-okConfirm">Ok</button>
        </div>
    </div>
</div>

