<div class="modal" id="modal-previewConfirmPolicy">
    <div class="modal__content modal__content--xl">
        <div class="p-5 text-center">
            <i data-feather="crosshair" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
            @*<div class="text-3xl mt-5">Are you sure?</div>*@
            <div class="text-gray-600 mt-2 text-modal">

                <h3 class="text-2xl text-theme-9 font-medium leading-none mt-3">REGULATIONS ON ONLINE EXAMINATIONS</h3>
                <hr />

                <div class="text-left border-2 border-dashed rounded-md p-2 mt-3">
                    <h3 class="text-lg font-medium leading-none">The Aptitude test is divided three parts</h3>
                    <ul>
                        <li class="flex items-center px-4 py-2 mt-1">
                            <i data-feather="corner-up-right" class="w-4 h-4 mr-2"></i>
                            <div class="flex-1 truncate">General Knowledge</div>
                        </li>
                        <li class="flex items-center px-4 py-2 mt-1">
                            <i data-feather="corner-up-right" class="w-4 h-4 mr-2"></i>
                            <div class="flex-1 truncate">Mathematics</div>
                        </li>
                        <li class="flex items-center px-4 py-2 mt-1">
                            <i data-feather="corner-up-right" class="w-4 h-4 mr-2"></i>
                            <div class="flex-1 truncate">Computer Technology</div>
                        </li>
                    </ul>
                    <hr />
                    <p class="mt-2"><strong>The test is supposed to be conducted in the linear way.</strong></p>
                    <p class="mt-2"> Once the first part of the test gets completed then it should follows the second</p>
                    <hr />
                    <p class="mt-2">Each question should carry marks (marks can be decided by the developer<strong> from 1 to 5</strong>).</p>
                    <hr />
                    <p class="mt-2">After clicking on this button the result of the candidate should be calculated and must produce on the screen of the candidate machine. </p>
                    <hr />
                    <p class="mt-2">
                        Where if they have cleared (GPA >= 80) it should prompts that <strong>“You have cleared this round, next round would be HR Round”</strong> else no message should be prompted.
                    </p>
                    <hr />
                    <p class="mt-2">If the candidate passes the test, then their names are transferred for next <strong>round (HR) round</strong>.</p>
                    <h5 class="text-lg text-theme-6 font-medium leading-none mt-3">GOOD LUCK!!!</h5>
                </div>
            </div>
        </div>
        <div class="px-5 pb-8 flex justify-between">

            <a class="button w-24 bg-theme-6 text-white btn-CancelModalPolicy" style="font-size: 14px" href="/logout">I Dont Agree</a>
            <button class="button w-24 bg-theme-4 text-white btn-okConfirm">Ok</button>
        </div>
    </div>
</div>

