@{
    ViewBag.Title = "Contact";
}
<div id="main">
    <form method="get" id="demoForm" action="">
        <p>
            <label>Username</label>
            <input name="user" type="text" />
        </p>
        <p>
            <label>Password</label>
            <input id="password" type="password" name="password" />
        </p>
        <p>
            <label>Re-Password</label>
            <input id="re-password" type="password" name="re-password" />
        </p>
        <p>
            <input type="submit" value="Register" id="register" />
        </p>
    </form>
</div>
