@{
    ViewBag.Title = "Home Page";
}

<div class="top-bar sticky top-0 bg-theme-2">

    <!-- BEGIN: Breadcrumb -->


    <div class="top-bar-question align-middle bg-gray-400 rounded">

    </div>

    <div class="top-bar-submit align-middle bg-gray-400 rounded ">

    </div>

    <div class="top-bar-time align-middle bg-yellow-600 rounded relative">
        <div class="w-3/4 h-full bg-theme-1 rounded flex justify-center align-middle"></div>
        <p class="rounded h-auto text-lg text-white absolute" style="top:50%; left: 50%; transform: translate(-50%,-50%)">90%</p>
    </div>
    <!-- END: Breadcrumb -->
    <!-- BEGIN: Account Menu -->
    <!-- END: Account Menu -->
</div>

<form action="/" method="post" class="">
    <div class="intro-y box px-5 pt-5 mt-5 overflow-auto">
        <div class="flex flex-col lg:flex-row border-b border-gray-500 pb-5 -mx-5">
            <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-800 px-5 border-l border-r border-gray-200 border-t lg:border-t-0 pt-5 lg:pt-0">
                <div class="truncate sm:whitespace-normal flex items-center"> <strong class="block mt-1">This line rendered as bold text.</strong> </div>
            </div>


        </div>
        <div class="nav-tabs flex flex-col sm:flex-row justify-center lg:justify-start">
            <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-500 mr-5 border-gray-500 border-t lg:border-t-0 pt-5 lg:pt-0">

                <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                    <div class="flex items-center w-20 ml-2">
                        <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                    </div>
                    <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
                </div>

                <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                    <div class="flex items-center w-20 ml-2">
                        <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                    </div>
                    <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
                </div>

                <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                    <div class="flex items-center w-20 ml-2">
                        <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                    </div>
                    <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
                </div>

                <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                    <div class="flex items-center w-20 ml-2">
                        <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                    </div>
                    <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
                </div>

            </div>

        </div>
    </div>

    <div class="intro-y box px-5 pt-5 mt-5">
        <div class="flex flex-col lg:flex-row border-b border-gray-500 pb-5 -mx-5">
            <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-800 px-5 border-l border-r border-gray-200 border-t lg:border-t-0 pt-5 lg:pt-0">
                <div class="truncate sm:whitespace-normal flex items-center"> <strong class="block mt-1">This line rendered as bold text.</strong> </div>
            </div>


        </div>
        <div class="nav-tabs flex flex-col sm:flex-row justify-center lg:justify-start">
            <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-500 mr-5 border-gray-500 border-t lg:border-t-0 pt-5 lg:pt-0">

                <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                    <div class="flex items-center w-20 ml-2">
                        <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                    </div>
                    <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
                </div>

                <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                    <div class="flex items-center w-20 ml-2">
                        <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                    </div>
                    <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
                </div>

                <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                    <div class="flex items-center w-20 ml-2">
                        <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                    </div>
                    <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
                </div>

                <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                    <div class="flex items-center w-20 ml-2">
                        <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                    </div>
                    <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
                </div>

            </div>

        </div>
    </div>

    <div class="intro-y box px-5 pt-5 mt-5">
        <div class="flex flex-col lg:flex-row border-b border-gray-500 pb-5 -mx-5">
            <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-800 px-5 border-l border-r border-gray-200 border-t lg:border-t-0 pt-5 lg:pt-0">
                <div class="truncate sm:whitespace-normal flex items-center"> <strong class="block mt-1">This line rendered as bold text.</strong> </div>
            </div>


        </div>
        <div class="nav-tabs flex flex-col sm:flex-row justify-center lg:justify-start">
            <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-500 mr-5 border-gray-500 border-t lg:border-t-0 pt-5 lg:pt-0">

                <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                    <div class="flex items-center w-20 ml-2">
                        <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                    </div>
                    <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
                </div>

                <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                    <div class="flex items-center w-20 ml-2">
                        <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                    </div>
                    <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
                </div>

                <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                    <div class="flex items-center w-20 ml-2">
                        <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                    </div>
                    <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
                </div>

                <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                    <div class="flex items-center w-20 ml-2">
                        <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                    </div>
                    <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
                </div>

            </div>

        </div>
    </div>

    <div class="top-bar grid grid-cols-12 gap-6">

        <!-- BEGIN: Breadcrumb -->

        <div class="h-12 mt-5 align-middle bg-yellow-600 rounded col-span-2 relative">
            <button class="button w-full h-full inline-block mr-1 mb-2 bg-theme-9 text-white inline-flex items-center text-xl font-medium leading-none"> Success <i data-loading-icon="hearts" data-color="white" class="w-10 h-10 ml-auto"></i> </button>
        </div>
        <!-- END: Breadcrumb -->
        <!-- BEGIN: Account Menu -->
        <!-- END: Account Menu -->
    </div>
</form>