@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <img src="/Content/default-image.jpg" id="Click-Image" name="Click-Image" alt="" style="width:150px;height:150px;object-fit:cover;">
        <input id="Image" name="Image" type="hidden" value="">
    </div>
</div>



@section scripts{
    <script src="/CKFinderScripts/ckfinder.js"></script>

    <script>
        $("#Click-Image").click(function () {
            CKFinder.popup({
                chooseFiles: true,
                width: 800,
                height: 600,
                onInit: function (finder) {
                    finder.on('files:choose', function (evt) {
                        var file = evt.data.files.first();
                        var output = document.getElementById("Image");
                        output.value = file.get("name");
                        $("#Click-Image").attr('src', "/userfiles/images/" + file.get("name"));
                    });

                    finder.on('file:choose:resizedImage', function (evt) {
                        var output = document.getElementById("Image");
                        output.value = evt.data.resizedUrl;
                    });
                }
            });
        });
    </script>
}