@{
    ViewBag.Title = "Home Page";
}
<div class="intro-y box px-5 pt-5 mt-5">
    <div class="flex flex-col lg:flex-row border-b border-gray-500 pb-5 -mx-5">
        <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-800 px-5 border-l border-r border-gray-200 border-t lg:border-t-0 pt-5 lg:pt-0">
            <div class="truncate sm:whitespace-normal flex items-center"> <strong class="block mt-1">This line rendered as bold text.</strong> </div>
        </div>


    </div>
    <div class="nav-tabs flex flex-col sm:flex-row justify-center lg:justify-start">
        <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-500 mr-5 border-gray-500 border-t lg:border-t-0 pt-5 lg:pt-0">

            <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                <div class="flex items-center w-20 ml-2">
                    <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                </div>
                <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
            </div>

            <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                <div class="flex items-center w-20 ml-2">
                    <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                </div>
                <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
            </div>

            <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                <div class="flex items-center w-20 ml-2">
                    <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                </div>
                <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
            </div>

            <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                <div class="flex items-center w-20 ml-2">
                    <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                </div>
                <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
            </div>

        </div>

    </div>
</div>

<div class="intro-y box px-5 pt-5 mt-5">
    <div class="flex flex-col lg:flex-row border-b border-gray-500 pb-5 -mx-5">
        <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-800 px-5 border-l border-r border-gray-200 border-t lg:border-t-0 pt-5 lg:pt-0">
            <div class="truncate sm:whitespace-normal flex items-center"> <strong class="block mt-1">This line rendered as bold text.</strong> </div>
        </div>


    </div>
    <div class="nav-tabs flex flex-col sm:flex-row justify-center lg:justify-start">
        <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-500 mr-5 border-gray-500 border-t lg:border-t-0 pt-5 lg:pt-0">

            <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                <div class="flex items-center w-20 ml-2">
                    <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                </div>
                <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
            </div>

            <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                <div class="flex items-center w-20 ml-2">
                    <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                </div>
                <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
            </div>

            <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                <div class="flex items-center w-20 ml-2">
                    <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                </div>
                <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
            </div>

            <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                <div class="flex items-center w-20 ml-2">
                    <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                </div>
                <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
            </div>

        </div>

    </div>
</div>

<div class="intro-y box px-5 pt-5 mt-5">
    <div class="flex flex-col lg:flex-row border-b border-gray-500 pb-5 -mx-5">
        <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-800 px-5 border-l border-r border-gray-200 border-t lg:border-t-0 pt-5 lg:pt-0">
            <div class="truncate sm:whitespace-normal flex items-center"> <strong class="block mt-1">This line rendered as bold text.</strong> </div>
        </div>


    </div>
    <div class="nav-tabs flex flex-col sm:flex-row justify-center lg:justify-start">
        <div class="flex mt-6 lg:mt-0 items-center lg:items-start flex-1 flex-col justify-center text-gray-500 mr-5 border-gray-500 border-t lg:border-t-0 pt-5 lg:pt-0">

            <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                <div class="flex items-center w-20 ml-2">
                    <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                </div>
                <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
            </div>

            <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                <div class="flex items-center w-20 ml-2">
                    <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                </div>
                <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
            </div>

            <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                <div class="flex items-center w-20 ml-2">
                    <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                </div>
                <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
            </div>

            <div class="truncate sm:whitespace-normal border-b border-t text-gray-600 border-gray-200 flex items-center">
                <div class="flex items-center w-20 ml-2">
                    <div class="flex items-center justify-center  mt-2"> <input type="checkbox" class="input border border-gray-500"> </div>
                </div>
                <p class="p-2">-center lg:items-start flex-1 flex-col justify-center text-gray-600 px-5 border-l justify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-rjustify-center text-gray-600 px-5 text-gray-600 px-5 border-l border-rjustify-center text-gray-600 px-5 border-l border-r border-r border-g</p>
            </div>

        </div>

    </div>
</div>