﻿@{ ViewBag.Title = "Home Page"; }

<div class="top-bar  bg-theme-2">

    <!-- BEGIN: Breadcrumb -->
    <div class="top-bar-question align-middle bg-gray-400 rounded relative">

    </div>

    <div class="top-bar-submit align-middle bg-gray-400 rounded ">
        <div class="h-full w-full align-middle bg-yellow-600 rounded col-span-2 relative">
            <button id="aptitutest_form_submit" type="button" class="button w-full h-full inline-block mr-1 mb-2 bg-theme-9 text-white inline-flex items-center text-xl font-medium leading-none"> Submit <i data-loading-icon="hearts" data-color="white" class="w-10 h-10 ml-auto"></i> </button>
        </div>
    </div>

    <div class="top-bar-time ">
        @*<div>
            a
               </div>*@
        <div class="align-middle bg-yellow-600 rounded relative w-full h-full">
            <div class="w-full count-down-percent h-full bg-theme-1 rounded flex justify-center align-middle "></div>
            <p class="rounded count-down h-auto text-lg text-white absolute">00:00</p>
        </div>
    </div>
    <!-- END: Breadcrumb -->
</div>

<form action="" id="aptitutest_form" method="post" class="form-question">
</form>

@section Scripts{
    <script src="~/Scripts/plugins/FrontendIndex.js"></script>
}