@{
    ViewBag.Title = "Test Schedule";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Breadcrumb{
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Test Schedule</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="/admin" class="text-muted">Home</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">Report</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="header-card">
                    <div class="row">
                        <div class="col-3">
                            <div class="button">
                            </div>
                        </div>

                        <div class="col-9 align-self-center">
                            <div class="customize-input float-right">
                                <a href="/admin/Report/Index" class="btn waves-effect waves-light btn-Custom btn-primary"> Reset</a>
                                <a href="javascript:void(0)" class="btn waves-effect waves-light btn-Custom btn-success" id="btnExport"> <i class="fas fa-file-excel"></i> Export Excel</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="mt-4" style="display: flex; justify-content: space-between;">
                    <div style="display: flex; align-items: center;">
                        <input type="date" id="FromDate" name="FromDate" class="form-control" />
                        <input type="date" id="ToDate" name="ToDate" class="form-control" style="margin-left: 0.3rem"/>

                    </div>

                    <div style="display: flex; align-items: center;">
                        <span>Show</span>
                        <select name="candidate" class="form-control form-control-sm pageSizeItem" style="margin: 0 0.3rem">
                            @foreach (var item in ViewBag.ListpageSize)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span>entries </span>
                    </div>
                </div>
                <div class="table-responsive mt-4">
                    <table class="table table-hover" id="tableReport">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Date Start</th>
                                <th scope="col">Date End</th>
                                <th scope="col">Count Candidate</th>
                                <th scope="col">Count Success</th>
                                <th scope="col">Count Out</th>
                                <th scope="col">Count Pass</th>
                                <th scope="col">Count Not Pass</th>
                            </tr>
                        </thead>
                        <tbody id="tblDataReport">
                        </tbody>
                    </table>
                </div>
                <p class="text-center textEmpty">List empty</p>
                <ul id="pagination" class="pagination flex-wrap .pagination-rounded-flat pagination-success mt-3"></ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/jquery.twbsPagination.min.js"></script>
    <script src="/Scripts/jquery.table2excel.min.js"></script>
    <script src="/Scripts/plugins/ReportControllerJs.js"></script>
}
