<div id="modal-logout" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="topModalLabel">Notification</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to logout ?</h5>
                <p id="id-item" style="display:none"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-Custom"
                        data-dismiss="modal">
                    Cancle
                </button>
                <a href="/admin/logout" class="btn btn-primary btn-Custom">OK</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
