@if (TempData.ContainsKey("XMessage"))
{
    XMessage sms = (XMessage)TempData["XMessage"];
    if (sms != null)
    {
        <p id="messMsg" style="display:none">@sms.Msg</p>
        <p id="messTitle" style="display:none">@sms.Title</p>
        if (sms.Types == EnumCategoryMess.error)
        {
            <script>
                var msg = $('#messMsg').text();
                var title = $('#messTitle').text();
                toastr.error(msg, title);
            </script>
        }
        else if (sms.Types == EnumCategoryMess.success)
        {
            <script>
                var msg = $('#messMsg').text();
                var title = $('#messTitle').text();
                toastr.success(msg, title);
            </script>
        }
        else if (sms.Types == EnumCategoryMess.warning)
        {
            <script>
                var msg = $('#messMsg').text();
                var title = $('#messTitle').text();
                toastr.warning(msg, title);
            </script>
        }
    }
}

