   <!-- Signup modal content -->
<div id="modal-updateCateExam" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center mt-2 mb-4">
                    Update CategoryExam
                </div>

                <form class="pl-3 pr-3" id="FormUpdateCategoryExam">
                    <input type="hidden" id="textIdCateExam" name="textIdCateExam" />

                    <div class="form-group">
                        <label for="emailaddress">Name</label>
                        <input class="form-control" type="text" id="textNameCateExam" name="textNameCateExam" placeholder="Enter your name category exam">
                    </div>

                    <div class="form-group text-center">
                        <a href="#" class="btn btn-danger btnCancleCateExam">
                            Cancle
                        </a>
                        <a href="#" class="btn btn-primary btnUpdateCateExam">
                            Save Change
                        </a>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
